@keyframes mobile_slide_left {
  0% {
    left: 100%;
  }
  25% {
    left: 0;
  }
  75% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes mobile_slide_left_long {
  0% {
    left: 100%;
  }
  15% {
    left: 0;
  }
  85% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes mobile_slide_clear {
  0% {
    left: 100%;
  }
  25% {
    left: 0;
  }
  75% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes mobile_slide_top {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes mobile_slide_align_left {
  0% {
    left: 100%;
  }
  25% {
    left: 0;
  }
  75% {
    left: 0;
  }
  100% {
    left: -30%;
  }
}
@keyframes button_pop_up {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes leaderboard_logo_pop_up {
  0% {
    width: 0;
  }
  100% {
    width: 250px;
  }
}
