.ad-wrapper {
  -webkit-text-size-adjust: none;
  position: relative;
  display: block;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
}
