blockquote,body,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,ol,p,pre,ul {
  margin: 0;
  padding: 0;
}
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-sans-serif;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
}
%vertical-rhythm,
blockquote,dl,figure,h1,h2,h3,h4,h5,h6,ol,p,pre,ul {
  margin-bottom: $spacing-unit / 2;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ol,ul {
  margin-left: $spacing-unit;
}
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: $base-font-weight;
}
a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}
