---
layout: with_menu
---
<article class="post">
  <div class="post-content">
    {{ content }}
  </div>
</article>
<div id="reload" onclick="reloadPage()"><p>Reload Animation</p></div>
<ul class="banner-ad-index">
  {% for my_page in site.pages %}
    {% if my_page.title %}
      <li>
        <a class="page-link" href="{{ my_page.url | prepend: site.url }}">{{ my_page.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<script>
  function reloadPage() {
    location.reload();
  }
</script>
