<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {{ content }}
  </body>
  {% unless page.category == 'mobile' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/easing/EasePack.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
  <script type="text/javascript" src="js/{{ page.js }}.js"></script>
  {% endunless %}  
</html>
